<div>
    <div class="border-b pb-3 shadow-md">
        <h2 class="text-center font-medium text-xl">Expediente Medico</h2>
    </div>
   
        <div class="inline">
            <input type="email" name="email" id="" placeholder="email" [(ngModel)]="expediente.email" hidden>
            <div class="py-2 text-center mt-3">
                <p>Toma medicamentos:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.tomaMedicamentos"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>
      
        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Alergias:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.alergias"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>
      
        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Cardiopatías:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.cardiopatias"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>
      
        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Alteración presión arterial:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.alteracionPresionArterial"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>

        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Embarazos:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.embarazos"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>
      
        
        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Diabetes:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.diabetes"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>
      
      
       
        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Hepatitis:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.hepatitis"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>
      
        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Problemas sanguíneos:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.problemasSanguineos"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>

        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Cáncer:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.cancer"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>

        
        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Fiebre reumática:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.fiebreReumatica"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>
      
       
        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Enfermedades orales:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.enfermedadesOrales"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>
       
        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Inmunosupresión:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.inmunosupresion"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>
        
            
        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Trastornos emocionales:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.transtornosEmocionales"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>
            
        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Enfermedades respiratorias:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.enfermedadesRespiratorias"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>   
            
        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Trastornos gástricos:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.transtornosGastricos"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>   
            
            
        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Epilepsia:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.epilepsia"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>  
            
        <div class="inline">
            <div class="py-2 text-center mt-3">
                <p>Cirugías:</p>
                
            </div>
            <div class="justify-center flex">
                <p-inputSwitch [(ngModel)]="expediente.cirujias"></p-inputSwitch>
            </div>
            <div>

            </div>
        </div>    
            
        <div class="inline ">
            <div class="py-2 text-center mt-3">
                <p>VIH:</p>
                
            </div>
            <div class="justify-center flex ">
                <p-inputSwitch  [(ngModel)]="expediente.VIH"></p-inputSwitch>
                
               
            </div>
            <div>

            </div>
        </div>  
          

        <div class="flex justify-center mb-24">
            <input type="button" class="mt-5 py-2 px-20 font-semibold border-cyan-800 hover:bg-teal-800 hover:text-white border" value="Actualizar" (click)="modificarPaciente()">
        </div>
<!--            
            <label for="otrasAlteraciones">Otras alteraciones:</label>
            <label class="switch">
            <input type="checkbox" id="otrasAlteraciones" name="otrasAlteraciones">
            <span class="slider round"></span>
            </label><br>
            
            <label for="observacionesAntecepacites">Observaciones antecepacites:</label>
            <label class="switch">
            <input type="checkbox" id="observacionesAntecepacites" name="observacionesAntecepacites">
            <span class="slider round"></span>
            </label><br>
            
            <label for="antecepacitesFamiliares">Antecepacites familiares:</label>
            <label class="switch">
            <input type="checkbox" id="antecepacitesFamiliares" name="antecepacitesFamiliares">
            <span class="slider round"></span>
            </label><br>
             -->
           
            
           
      
</div>
<app-sidebar/>