<div class="border-b pb-3 shadow-md container">
    <h2 class="text-center font-medium text-xl">Ver Pacientes</h2>
</div>

<div (click)="onSingleClick($event, item.email)"  *ngFor="let item of pacientes | async"
    class="bg-gray-200 rounded-lg shadow-lg p-2 mx-2 my-3 max-w-md  border text-left" id="card">
    <p class=" "><strong>Nombre: </strong>{{item.nombre}}</p>
    <p class=" "><strong>Apellido: </strong> {{item.apellido}}</p>
    <p class=" "><strong>Email: </strong>{{item.email}}</p>
</div>
<div class="mb-28">

</div>


<div *ngIf="mostrarModal" class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-2 sm:align-middle sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-2 pb-4 sm:p-2 sm:pb-4">
          <div class="sm:flex sm:items-start">
            
            <div class="mt-1 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Informacion del Paciente
              </h3>
              <div class="mt-2">
                <!-- Agrega aquí el contenido del modal -->
                <ul class="text-left">
                    
                    <li class="mb-4 ">
                      <span class="font-semibold text-gray-500 mr-2 whitespace-pre-wrap ">Nombre:</span>
                      <span>{{ paciente.nombre }}</span>
                    </li>
                    <li class="mb-4">
                      <span class="font-semibold text-gray-500 mr-2 ">Apellido:</span>
                      <span>{{ paciente.apellido }}</span>
                    </li>
                    <li class="mb-4">
                      <span class="font-semibold text-gray-500 mr-2 ">Lugar de nacimiento:</span>
                      <span>{{ paciente.lugarNacimiento }}</span>
                    </li>
                    <li class="mb-4">
                      <span class="font-semibold text-gray-500 mr-2 ">Fecha de nacimiento:</span>
                      <span>{{ paciente.fechaNacimiento }}</span>
                    </li>
                    <li class="mb-4">
                      <span class="font-semibold text-gray-500 mr-2 ">Domicilio:</span>
                      <span>{{ paciente.domicilio }}</span>
                    </li>
                    <li class="mb-4">
                      <span class="font-semibold text-gray-500 mr-2 ">Ocupación:</span>
                      <span>{{ paciente.ocupacion }}</span>
                    </li>
                    <li class="mb-4">
                      <span class="font-semibold text-gray-500 mr-2 ">Estado civil:</span>
                      <span>{{ paciente.estadoCivil }}</span>
                    </li>
                    <li class="mb-4">
                      <span class="font-semibold text-gray-500 mr-2 ">Sexo:</span>
                      <span>{{ paciente.sexo }}</span>
                    </li>
                    <li class="mb-4">
                      <span class="font-semibold text-gray-500 mr-2 ">Edad:</span>
                      <span>{{ paciente.edad }}</span>
                    </li>
                    <li class="mb-4">
                      <span class="font-semibold text-gray-500 mr-2 ">Celular:</span>
                      <span>{{ paciente.celular }}</span>
                    </li>
                    <li class="mb-4">
                      <span class="font-semibold text-gray-500 mr-2">Teléfono casa:</span>
                      <span>{{ paciente.telCasa }}</span>
                    </li>
                    <li class="mb-4">
                      <span class="font-semibold text-gray-500 mr-2">Tipo de sangre:</span>
                      <span>{{ paciente.tipoSangre }}</span>
                    </li>
                    <li class="mb-4">
                      <span class="font-semibold text-gray-500 mr-2">¿Cómo se enteró de nosotros?:</span><br>
                      <span>{{ paciente.comoSeEntero }}</span>
                    </li>
                    <li class="mb-4">
                      <span class="font-semibold text-gray-500 mr-2">Email:</span>
                      <span>{{ paciente.email }}</span>
                    </li>
                  </ul>
                  
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button (click)="mostrarModal = false" type="button" class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 sm:ml-3 sm:w-auto sm:text-sm">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>



<app-sidebar/>